table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
    background-color: #f6f6f6;
    margin-left: 20vw;
  }/* Spacing */
  td, th {
    border: 1px solid #999;
    padding: 20px;
  }
  th {
    background: brown;
    color: white;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;
  }
  .primary{
    background-color: #000000
  }
  
  tfoot > tr  {
    background: black;
    color: white;
  }
  tbody > tr:hover {
    background-color: #ffc107;
  }

p,h1{
  margin-left: 20vw;
}




[data-action] {
  cursor: pointer;
}

#sorting th {
  filter: grayscale(100%);
}

#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "⇓";
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "⇑";
}

#list {
  border-collapse: collapse;
}

#list tbody tr td {
  padding: 4px;
}

#list tbody tr:nth-child(odd) td {
  background-color: rgb(243, 214, 139);
  border-right: rgb(0, 0, 0) 1px dotted;
}

#list tbody tr:nth-child(even) td {
  border-right: rgb(0, 0, 0) 1px dotted;
}

/* ****** STAR ****** */

[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

/* ****** TROPHY ****** */
td[data-field="winner"]::after {
  content: "🏆";
  cursor: pointer;
}

td[data-field="winner"][data-winner="false"]::after {
  content: "🏆";
  cursor: pointer;
  filter: grayscale(1);
}

/* dialog */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: #ffe19e;
  position: relative;
}

button.closebutton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.dialog h1 {
  margin-top: 0;
}

.dialog h2 {
  font-size: medium;
  font-weight: lighter;
}

.hide{
  display: none;
}