
  @import url('https://fonts.googleapis.com/css2?family=Baumans&family=Bungee+Inline&family=Bungee+Shade&family=Cairo&family=Faster+One&family=Fugaz+One&family=Inter:wght@300;600;900&family=JetBrains+Mono:wght@100&family=Joan&family=Kdam+Thmor+Pro&family=Keania+One&family=Kumar+One&family=Major+Mono+Display&family=MedievalSharp&family=Space+Grotesk:wght@500&family=Syncopate:wght@700&family=Syne:wght@700;800&family=Tilt+Prism&display=swap');



*{
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;
    background-color: rgb(235, 215, 164);
}

.hat{

    width:20%;
    margin-left: 85vw;
    transform: rotate(39deg);
    margin-bottom: -8vw;

    margin-top: 5vw;
z-index: -2;

}

img{
    width: 60%;
    height: auto;
}
/* template{
    margin:1rem;
    display:grid;
    grid-template-columns:  1fr 1fr;
    margin-left: 15vw;

} */
thead{
    font-size:2vw;
    font-family: 'MedievalSharp', cursive;
    display: block;
    margin-bottom: 4vw;

}

tbody {
    display: grid;
    grid-template-columns: 1fr  1fr;

margin-left: 1vw;
margin-bottom: 2vw;
gap: 2rem 7rem;


    font-family: 'MedievalSharp', cursive;

    /* Auto layout */
    


   


    


    

    
    /* Inside auto layout */
    
  


    
  }
 


tbody tr{
  display: grid;
        grid-template-columns: 1.1fr 1.2fr ;
        grid-template-rows: auto ;

        gap: 0% 2%;

        grid-template-areas:
          "image firstname middle"
          "image secondname ."
          "image nick ."
          "image house ."
          "image gender ."
          "image blood .";

    border: 2px solid #000000;
    box-shadow: 9px 9px 0px #000000;
    border-radius: 4px;
margin-right: 5vw;

      }
      
  
      
h1{
    font-family: 'Tilt Prism', cursive;

font-size: 5.3vw;

text-align: center;
z-index: 90000;
}
      
      

      

      



[data-field="firstname"] {
    grid-area:  1 / 2 / 2 / 4; 

}

[data-field="middle"] {
    grid-area: 1 / 4 / 2 / 6;
    margin-left: -15vw;



}


[data-field="secondname"] {
    grid-area: 2 / 2 / 3 / 4;
  margin-top: 0.3vw;



}

[data-field="nick"] {
    grid-area:3 / 2 / 4 / 4;
margin-top: -1.6vw;
}


[data-field="house"] {
    grid-area: 4 / 2 / 5 / 4;
    margin-top: -0.7vw;

}


[data-field="image"] {
    grid-area: 1 / 1 / 5 / 2;
    width: 180%;

}

[data-field="gender"] {
    grid-area: 5 / 2 / 5 / 4;
  margin-top: 0.7vw;



}

[data-field="blood"] {
  grid-area: 6 / 2 / 6 / 4;
  margin-top: 0.7vw;

}


[data-field="prefect"] {
  grid-area: 6 / 3 / 6 / 5;
margin-left: 19vw;
margin-top: -2vw;
}




button {
    margin-top: 3vw;
    margin-left: 3vw;
    font-family: 'MedievalSharp', cursive;
font-size: 1.1vw;

box-sizing: border-box;

/* Auto layout */


padding: 14px 30px;
gap: 5px;

cursor: pointer;

background-color: #F6B93B;
border: 1px solid #000000;
box-shadow: 4px 4px 0px #000000;
border-radius: 4px;

/* Inside auto layout */

}

 p1{
    font-family: 'MedievalSharp', cursive;
    font-size: 1.3vw;
text-decoration: underline;
margin-left: 1vw;
margin-right: 2vw;
    
}


button .filter{
    margin-bottom: -40vw;
}


input{
    margin-top: 3vw;
    margin-left: 75vw;

font-size: 1.1vw;

box-sizing: border-box;

/* Auto layout */


padding: 14px 40px;
gap: 5px;

cursor: pointer;

background-color: #F6B93B;
border: 1px solid #000000;
box-shadow: 4px 4px 0px #000000;
border-radius: 4px;

}




/*--------------------  expel-------------------- */


[data-action] {
    cursor: pointer;
  }
  
  #sorting th {
    filter: grayscale(100%);
  }
  

  
  button[data-sort-direction="asc"]::after {
    background-color: url("./Polygon.png");

    margin-left: 1vw;


    cursor: pointer;

  }
  
  button[data-sort-direction="desc"]::after {
    background-color: url("./Polygon1.png");
    margin-left: 1vw;






    cursor: pointer;
  }
  
  #list {
    border-collapse: collapse;
  }

  /* ****** expel ****** */
  
  [data-field="expel"] {

    cursor: pointer;
margin-top: -1.9vw;
font-weight: bold;
margin-left: -2.9vw;
font-family: 'Courier New', Courier, monospace;
text-decoration:underline;
position: relative;
text-transform: capitalize;

  }








/*--------------------  prefect-------------------- */

td[data-field="prefect"]::after {
  content: url("./prefect.png");
  cursor: pointer;
  margin-top: 16vw;
  width: 1000px; /* set the width to 100 pixels */
  height: auto; /* maintain aspect ratio */
}

  
  td[data-field="prefect"][data-prefect="false"]::after {
    content: url("./prefect.png");

    margin-left: 1vw;
    width: 1000px; 

    cursor: pointer;
    filter: grayscale(1);


  }








  
  
  button[data-sort-direction="desc"]::after {
    background-color: url("./prefect.png");
    margin-left: 1vw;






    cursor: pointer;
  }
  






  td[data-field="inquisitional"]::after {
    content: url("./inquisitional.png");
    cursor: pointer;
    margin-top: 16vw;

    height: auto; /* maintain aspect ratio */
  }
  
    
    td[data-field="inquisitional"][data-inquisitional="false"]::after {
      content: url("./inquisitional.png");
  
      margin-left: 1vw;

  
      cursor: pointer;
      filter: grayscale(1);
  
  
    }
  
  
  
  
  
  
  
  
    
    
    button[data-sort-direction="desc"]::after {
      background-color: url("./inquisitional.png");
      margin-left: 1vw;
  
  
  
  
  
  
      cursor: pointer;
    }
    



















  #list {
    border-collapse: collapse;
  }

  /* ****** STAR ****** */
  

 
  
  /* pop-up */
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
    display: flex;

    align-items: center;
  }
  
  .pop-up {
    box-shadow: 1px 1px 10px #333;
    border-radius: 12px;
    padding: 2em;
    background-color: #ffe19e;
    position: relative;
    margin-left: 33vw;
  }
  
  button.closeBtn {
   width: 20%;
    margin-bottom: -9vw;
    margin-left: 33vw;
    margin-top: -1vw;

  }
  
  .pop-up h1 {
    margin-top: 4vw;
  }
  
  .pop-up h2 {
    font-size: 1.4vw;
    font-weight: lighter;
    margin-left: 4vw;

  }
  
  .hide{
    display: none;
  }



  button.closeBtn1 {margin-left: 11vw;
    font-size: 1.6vw;

  }





  





  
.modal1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: #ffe19e;
  position: relative;
  margin-left: 40vw;
}

button.closebutton {
  position: absolute;
  right: 1vw;
  top: -2em;



}

.dialog h1 {

  font-size: 4vw;
  margin-top: 2vw;
}

.dialog h2 {
  font-size: 1.3vw;
  font-weight: lighter;
 


}

.hide{
  display: none;
}



button.closebutton {margin-left: 11vw;
margin-bottom: 2vw;

}